:8008 {
    root public
    
    @files {
        path /files/*
    }
    handle @files {
        rewrite * /base_files.php
        php_fastcgi 127.0.0.1:9000
    }

    handle {
        php_fastcgi 127.0.0.1:9000
        file_server
    }
}